In [134]:
import pandas as pd

# Bucles

 ## Iterar sobre una lista, tupla, diccionario y conjunto

`for`: se utiliza para iterar sobre una secuencia.

`variable`: Es la variable que toma el valor del elemento en cada iteración.
 
`in`: indica la colección sobre la que iteras.

`iterable`: Es la colección de elementos sobre la que se itera

In [135]:
colores = ["rojo", "verde", "azul"]
for color in colores:
    print(color)

rojo
verde
azul

In [136]:
animales = ("perro", "gato", "serpiente")
for animal in animales:
    print(animal)

perro
gato
serpiente

In [81]:
diccionario_perro = {"nombre": 'snowball', 'edad':4, 'raza':'Border Collie'}

for clave in diccionario_perro.keys():
    print(clave)

print()

for valor in diccionario_perro.values():
    print(valor)

print()

for clave, valor in diccionario_perro.items():
    print(f"{clave}: {valor}")

nombre
edad
raza

snowball
4
Border Collie

nombre: snowball
edad: 4
raza: Border Collie

In [118]:
numeros = {1, 2, 3, 4, 5}
for numero in numeros:
    print(numero)

1
2
3
4
5

## Iterar sobre un rango

`range()`: Permite realizar rangos pudiendo definir (inicio,fin,salto), donde el inicio se incluye, siendo por defecto 0 y el final se excluye.

In [140]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [145]:
# numeros = [1, 2, 4, 6]
# for i in range(numeros):
#     print(i)

In [142]:
numeros = [1, 2, 4, 6]
for i in range(len(numeros)):
    print(i)

0
1
2
3

In [144]:
numeros = [1, 2, 4, 6]
for i in range(len(numeros)):
    numeros[i] **= 2
print(numeros)

[1, 4, 16, 36]

## While

Repite un bloque de código mientras una condición es verdadera.

In [146]:
contador = 10

print("Inicio del bucle")
print()

while contador >= 0:
    print(contador)
    # contador = contador - 1
    contador -= 1
    
print()
print('fin del bucle')

Inicio del bucle

10
9
8
7
6
5
4
3
2
1
0

fin del bucle

## Break

Sale del bucle

In [147]:
for i in range(10):
    if i == 7:
        break
    print(i)

0
1
2
3
4
5
6

## For - else

`for - else`: en un bucle for se ejecuta cuando el bucle termina de iterar sobre todos los elementos sin que se haya ejecutado una instrucción break.

In [150]:
numeros = [1, 2, 3, 4, 5, 6, 7]
for numero in numeros:
    print(numero)
else:
    print("Final del programa")

1
2
3
4
5
6
7
Final del programa

In [154]:
numeros = [1, 2, 3, 4, 5, 6, 7]
for numero in numeros:
    if numero == 6:
        print("Encontrado el número 6")
        break
else:
    print("No se encontró el número 6")

Encontrado el número 6

## Continue

`continue`: salta a la siguiente iteración del bucle

In [92]:
for i in range(11):
    if i % 2 == 0:
        continue
    print(i)

1
3
5
7
9

In [155]:
for i in range(11):
    if i % 2 == 1:
        continue
    print(i)

0
2
4
6
8
10

In [94]:
for letra in "tratamiento":
    if letra == "a":
        continue
    elif letra == "n":
        break
    print(letra)

t
r
t
m
i
e

## Pass

`pass`: es una instrucción nula.

In [157]:
for letra in "tratamiento":
    if letra == "a":
        pass
    elif letra == "n":
        break
    print(letra)

t
r
a
t
a
m
i
e

In [158]:
for letra in "tratamiento":
    pass

## Bucles infinitos

!!Lleva cuidado!!

In [160]:
# contador = 0
# while True:
#     contador += 1
#     print(contador)
#     if contador == -20:
#         break

## Bucles anidados

Bucles que realizas dentro de otros bucles

In [98]:
lista_de_conjuntos = [
    {"azul", "rojo", "verde"},
    {"amarillo", "negro", "blanco"},
    {"naranja", "violeta", "rosa"}
]

for conjunto in lista_de_conjuntos:
    print(conjunto)
print()

{'verde', 'rojo', 'azul'}
{'blanco', 'amarillo', 'negro'}
{'rosa', 'violeta', 'naranja'}

In [162]:
lista_de_conjuntos = [
    {"azul", "rojo", "verde"},
    {"amarillo", "negro", "blanco"},
    {"naranja", "violeta", "rosa"}
]

for conjunto in lista_de_conjuntos:
    for color in conjunto:
        print(color)

verde
rojo
azul
blanco
amarillo
negro
rosa
violeta
naranja

In [163]:
pokedex = {
    1: {
        "nombre": "Bulbasaur",
        "tipo": ["Planta", "Veneno"],
        "habilidades": ["Espesura", "Clorofila"]
    },
    4: {
        "nombre": "Charmander",
        "tipo": ["Fuego"],
        "habilidades": ["Mar Llamas", "Poder Solar"]
    },
    7: {
        "nombre": "Squirtle",
        "tipo": ["Agua"],
        "habilidades": ["Torrente", "Cura Lluvia"]
    },
    25: {
        "nombre": "Pikachu",
        "tipo": ["Eléctrico"],
        "habilidades": ["Elec. Estática", "Pararrayos"]
    }
}

In [164]:
lista_pokemon_capturados = []
lista_claves = []
lista_valores= []

for identificador_pokemon, valores in pokedex.items():
    print(f"{identificador_pokemon}:")
    lista_pokemon_capturados.append(identificador_pokemon)
    for clave, valor in valores.items():
        print(f"  {clave}: {valor}")
        lista_claves.append(clave)
        lista_valores.append(valor)

1:
  nombre: Bulbasaur
  tipo: ['Planta', 'Veneno']
  habilidades: ['Espesura', 'Clorofila']
4:
  nombre: Charmander
  tipo: ['Fuego']
  habilidades: ['Mar Llamas', 'Poder Solar']
7:
  nombre: Squirtle
  tipo: ['Agua']
  habilidades: ['Torrente', 'Cura Lluvia']
25:
  nombre: Pikachu
  tipo: ['Eléctrico']
  habilidades: ['Elec. Estática', 'Pararrayos']

In [165]:
print(lista_pokemon_capturados)
print(lista_claves)
print(lista_valores)

[1, 4, 7, 25]
['nombre', 'tipo', 'habilidades', 'nombre', 'tipo', 'habilidades', 'nombre', 'tipo', 'habilidades', 'nombre', 'tipo', 'habilidades']
['Bulbasaur', ['Planta', 'Veneno'], ['Espesura', 'Clorofila'], 'Charmander', ['Fuego'], ['Mar Llamas', 'Poder Solar'], 'Squirtle', ['Agua'], ['Torrente', 'Cura Lluvia'], 'Pikachu', ['Eléctrico'], ['Elec. Estática', 'Pararrayos']]

In [167]:
datos_pokemon = []

for identificador_pokemon, valores in pokedex.items():
    pokemon_info = {
        "Identificador": identificador_pokemon,
        "Nombre": valores["nombre"],
        "Tipo": ", ".join(valores["tipo"]),  
        "Habilidades": ", ".join(valores["habilidades"])  
    }
    datos_pokemon.append(pokemon_info)

In [168]:
datos_pokemon

[{'Identificador': 1,
  'Nombre': 'Bulbasaur',
  'Tipo': 'Planta, Veneno',
  'Habilidades': 'Espesura, Clorofila'},
 {'Identificador': 4,
  'Nombre': 'Charmander',
  'Tipo': 'Fuego',
  'Habilidades': 'Mar Llamas, Poder Solar'},
 {'Identificador': 7,
  'Nombre': 'Squirtle',
  'Tipo': 'Agua',
  'Habilidades': 'Torrente, Cura Lluvia'},
 {'Identificador': 25,
  'Nombre': 'Pikachu',
  'Tipo': 'Eléctrico',
  'Habilidades': 'Elec. Estática, Pararrayos'}]

In [169]:
df = pd.DataFrame(datos_pokemon)
df

   Identificador      Nombre            Tipo                 Habilidades
0              1   Bulbasaur  Planta, Veneno         Espesura, Clorofila
1              4  Charmander           Fuego     Mar Llamas, Poder Solar
2              7    Squirtle            Agua       Torrente, Cura Lluvia
3             25     Pikachu       Eléctrico  Elec. Estática, Pararrayos

## Comprensiones

[nueva_expresion for item in iterable if condicion]

`nueva_expresion`: La expresión que se evalúa y se añade a la nueva lista.

`item`: Cada elemento del iterable.

`iterable`: La colección de elementos sobre los que se itera.

`condicion`: (Opcional) Un filtro para seleccionar solo los elementos que cumplen con esta condición.

In [172]:
numeros = [1, 2, 3, 5]
cubo = [n ** 3 for n in numeros]
print(cubo)

[1, 8, 27, 125]

In [173]:
colores = ["RoJo", "vErde", "Azul"]
colores = {color.capitalize() for color in colores}
colores

{'Azul', 'Rojo', 'Verde'}

In [174]:
numeros = [1, 2, 3, 5]
cubo = tuple(n ** 3 for n in numeros)
print(cubo)

(1, 8, 27, 125)

In [176]:
numeros = [1, 2, 3, 5]
cubo = {n: n ** 3 for n in numeros}
print(cubo)

{1: 1, 2: 8, 3: 27, 5: 125}

In [177]:
numeros = [1, 2, 3, 5]
cubo = {n ** 3 for n in numeros}
print(cubo)

{8, 1, 27, 125}

In [179]:
numeros = [1, 2, 3, 4, 5]
resultado = ["par" for n in numeros]
print(resultado)

['par', 'par', 'par', 'par', 'par']

In [180]:
numeros = [1, 2, 3, 4, 5]
resultado = ["par" if n % 2 == 0 else "impar" for n in numeros]
print(resultado)

['impar', 'par', 'impar', 'par', 'impar']

In [184]:
numeros = [1, 2, 3, 4, 5]
pares = []
for n in numeros:
    if n % 2 == 0:
        pares.append(n)
print(pares)

[2, 4]

In [181]:
numeros = [1, 2, 3, 4, 5]
pares = [n for n in numeros if n % 2 == 0]
print(pares)

[2, 4]