In [91]:
import pandas as pd

# Funciones lambda

Se usan principalmente para tareas cortas y simples. Son útiles para cuando necesitas una función que se va a usar para pocos casos.

Se definen usando la palabra clave `lambda`

Se suelen utilizar como argumentos en funciones `map`, `filter`, y `reduce`.

---

Síntaxis --> lambda argumentos: expresión

In [92]:
resta = lambda x, y: x - y
print(resta(2, 3))

-1

## Funciones Lambda con Argumentos Predeterminados:

In [93]:
multiplicacion = lambda x, y=1: x * y
print(multiplicacion(3))

3

In [94]:
print(multiplicacion(3,2))

6

## Map

Aplica una función a cada elemento en un iterable y devuelve un nuevo iterable con los resultados.

map(función, iterable)

In [95]:
numeros = [1, 2, 3, 4]
cuadrados = list(map(lambda x: x**2, numeros))
print(cuadrados)

[1, 4, 9, 16]

In [96]:
total = [10, 12, 6]
gastado = [7, 2, 4]
suma = list(map(lambda total, gastado: round((gastado / total)*100,2), total, gastado))
print(suma)

[70.0, 16.67, 66.67]

In [97]:
texto = ["dIente", " jirafa", "PERRO"]
texto_sin_espacios = list(map(lambda texto: texto.strip(), texto))
texto_formateado = list(map(lambda texto_sin_espacios: texto_sin_espacios.capitalize(), texto_sin_espacios))
print(texto_formateado)

['Diente', 'Jirafa', 'Perro']

In [98]:
texto = ["dIente", " jirafa", "PERRO"]
texto_formateado = list(map(lambda texto: texto.strip().capitalize(), texto))
print(texto_formateado)

['Diente', 'Jirafa', 'Perro']

In [99]:
estudiantes = [
    {"nombre": "Antonio", "nota": 75},
    {"nombre": "Elena", "nota": 75},
    {"nombre": "Pedro", "nota": 42},
    {"nombre": "Juan", "nota": 38},
    {"nombre": "Manolo", "nota": 54},
    {"nombre": "Marta", "nota": 65},
    {"nombre": "Paula", "nota": 23},
    {"nombre": "Raul", "nota": 32}
]

df_previo = pd.DataFrame(estudiantes)

mejor_nota = max(estudiante["nota"] for estudiante in estudiantes)
print(mejor_nota)
print()

ajuste_notas = list(map(lambda estudiante: {
    "nombre": estudiante["nombre"],
    "nota": 90 if estudiante["nota"] == mejor_nota else round(90 * (estudiante["nota"] / mejor_nota),2)
}, estudiantes))

## 75 (maxima nota) * x = 90  --> x = 90/75


for dicts in ajuste_notas:
    for clave, valor in dicts.items():
        print(f"{clave}:{valor}")
        print()
    
df = pd.DataFrame(ajuste_notas)

75

nombre:Antonio

nota:90

nombre:Elena

nota:90

nombre:Pedro

nota:50.4

nombre:Juan

nota:45.6

nombre:Manolo

nota:64.8

nombre:Marta

nota:78.0

nombre:Paula

nota:27.6

nombre:Raul

nota:38.4

In [100]:
df_previo

    nombre  nota
0  Antonio    75
1    Elena    75
2    Pedro    42
3     Juan    38
4   Manolo    54
5    Marta    65
6    Paula    23
7     Raul    32

In [101]:
df

    nombre  nota
0  Antonio  90.0
1    Elena  90.0
2    Pedro  50.4
3     Juan  45.6
4   Manolo  64.8
5    Marta  78.0
6    Paula  27.6
7     Raul  38.4

## Reduce

Aplica una función acumulativa a los elementos de una colección y devuelve un único valor.

reduce(función, iterable[, inicial])

`función`: Una función que toma dos argumentos y devuelve un único valor.

`iterable`: El iterable a reducir.

`inicial` (opcional): El valor inicial del acumulador.

In [102]:
from functools import reduce

In [103]:
numeros = [1, 2, 3, 4]
producto = reduce(lambda x, y: x * y, numeros)
print(producto)

24

In [104]:
numeros = [1, 2, 3, 4, 5]
producto = reduce(lambda x, y: x + y, numeros)
print(producto)

15

In [105]:
numeros = [10, 13, 50, 22, 41]
maximo = reduce(lambda x, y: x if x > y else y, numeros)
print(maximo)

50

In [106]:
numeros = [10, 13, 50, 22, 41]
minimo = reduce(lambda x, y: x if x < y else y, numeros)
print(minimo)

10

In [107]:
numeros = [2, 3, 1, 2, 3]
suma_cuadrados = reduce(lambda x, y: x + y**2, numeros, 0)
print(suma_cuadrados)

27

In [108]:
numeros = [3, 3, 1, 2, 3,3]
suma = reduce(lambda x, y: x + y, numeros)
media = suma / len(numeros)
print(media)

2.5

In [109]:
carrito = [
    {"producto": "pan", "precio": 1, "cantidad": 1},
    {"producto": "pizza", "precio": 4, "cantidad": 2},
    {"producto": "agua", "precio": 1, "cantidad": 3}
]
total = reduce(lambda x, prod: x + prod["precio"] * prod["cantidad"], carrito, 0)
print(total)

12

## Filter

Permite filtrar elementos de un iterable utilizando una función que devuelve True o False. Solo se devuelven aquellos elementos que la función ha marcado como True.

filter(función, iterable)

In [110]:
numeros = [1, 2, 3, 4, 5, 6]
pares = list(filter(lambda x: x % 2 == 0, numeros))
print(pares)

[2, 4, 6]

In [111]:
numeros = [1, 2, 3, 4, 5, 6]
compresion = [x for x in numeros if x % 2 == 0]
print(compresion)

[2, 4, 6]

In [112]:
numeros = [10, -40, 50, 80, 200]
mayores_de_40 = list(filter(lambda x: x > 40, numeros))
print(mayores_de_40)

[50, 80, 200]

In [113]:
numeros = [10, -40, 50, 80, 200]
compresion = [x for x in numeros if x > 40]
print(compresion)

[50, 80, 200]

In [114]:
estudiantes = [
    {"nombre": "Antonio", "nota": 75},
    {"nombre": "Elena", "nota": 75},
    {"nombre": "Pedro", "nota": 42},
    {"nombre": "Juan", "nota": 38},
    {"nombre": "Manolo", "nota": 54},
    {"nombre": "Marta", "nota": 65},
    {"nombre": "Paula", "nota": 23},
    {"nombre": "Raul", "nota": 32}
]

aprobados = list(filter(lambda estudiante: estudiante["nota"] >= 50, estudiantes))
print(aprobados)
df = pd.DataFrame(aprobados)
df

[{'nombre': 'Antonio', 'nota': 75}, {'nombre': 'Elena', 'nota': 75}, {'nombre': 'Manolo', 'nota': 54}, {'nombre': 'Marta', 'nota': 65}]

    nombre  nota
0  Antonio    75
1    Elena    75
2   Manolo    54
3    Marta    65

In [115]:
compresion = [estudiante for estudiante in estudiantes if estudiante["nota"] >= 50]
df = pd.DataFrame(compresion)
df

    nombre  nota
0  Antonio    75
1    Elena    75
2   Manolo    54
3    Marta    65

In [116]:
colores = ["rojo", "verde", "amarillo", "purpura", "negro"]
contienen_o = list(filter(lambda color: 'o' in color, colores))
print(contienen_o)

['rojo', 'amarillo', 'negro']

In [117]:
pisos = [
    {"nombre": "P-11384", "precio": 100000, "habitaciones": 3, "disponible": True},
    {"nombre": "P-11522", "precio": 120000,"habitaciones": 4, "disponible": True},
    {"nombre": "P-11976", "precio": 80000,"habitaciones": 2, "disponible": True}
]
pisos_filtrados = list(filter(lambda piso: piso["disponible"] and piso["precio"] < 105000 and piso['habitaciones'] >= 3,  pisos))
print(pisos_filtrados)

[{'nombre': 'P-11384', 'precio': 100000, 'habitaciones': 3, 'disponible': True}]

##  Combinación map, reduce y filter

In [118]:

numeros = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

pares = list(filter(lambda x: x % 2 == 0, numeros))
cuadrados = list(map(lambda x: x**2, pares))
suma_cuadrados = reduce(lambda x, y: x + y, cuadrados)

print(f'Los numeros pares filtrados son: {pares}, sus cuadrados son: {cuadrados} y la suma de los cuadrados es: {suma_cuadrados}.')

Los numeros pares filtrados son: [2, 4, 6, 8, 10], sus cuadrados son: [4, 16, 36, 64, 100] y la suma de los cuadrados es: 220.

In [119]:
estudiantes = [
    {"nombre": "Antonio", "nota": 92},
    {"nombre": "Elena", "nota": 75},
    {"nombre": "Pedro", "nota": 42},
    {"nombre": "Juan", "nota": 38},
    {"nombre": "Manolo", "nota": 54},
    {"nombre": "Marta", "nota": 65},
    {"nombre": "Paula", "nota": 23},
    {"nombre": "Raul", "nota": 32}
]

aprobados = list(filter(lambda estudiante: estudiante["nota"] >= 50, estudiantes))

mejora_notas_aprobados = list(map(lambda estudiante: {
    "nombre": estudiante["nombre"],
    "nota": estudiante["nota"] + 10 if  estudiante["nota"] <= 90 else 100
}, aprobados))

print(mejora_notas_aprobados)

[{'nombre': 'Antonio', 'nota': 100}, {'nombre': 'Elena', 'nota': 85}, {'nombre': 'Manolo', 'nota': 64}, {'nombre': 'Marta', 'nota': 75}]

In [120]:
numeros = [1, 2, 3]
cuadrados = list(map(lambda x: x**2, numeros))
producto_cuadrados = reduce(lambda x, y: x * y, cuadrados)
print(f"Cuadrados: {cuadrados} y producto de los cuadrados: {producto_cuadrados}")

Cuadrados: [1, 4, 9] y producto de los cuadrados: 36

In [121]:
numeros = [1, 2, 3, 4, 5, 6]

pares = list(filter(lambda x: x % 2 == 0, numeros))
suma_pares = reduce(lambda x, y: x + y, pares)

print(f"Números pares: {pares} y suma de los números pares: {suma_pares}")

Números pares: [2, 4, 6] y suma de los números pares: 12

## Funciones Lambda Anidadas:

Definir una función dentro de otra función

In [122]:
sumar_y_multiplicar = lambda x: lambda y: lambda z: (x + y) * z

resultado = sumar_y_multiplicar(1)(3)(4)
print(f"(1 + 3) * 4 = {resultado}")
resultado = sumar_y_multiplicar(2)(4)(5)
print(f"(2 + 4) * 5 = {resultado}")
resultado = sumar_y_multiplicar(2)(5)(0)
print(f"(2 + 5) * 0 = {resultado}")

(1 + 3) * 4 = 16
(2 + 4) * 5 = 30
(2 + 5) * 0 = 0

In [123]:
formatear_texto = lambda inicio: lambda texto: f"{inicio.strip().capitalize()} {texto.strip().lower()}"
resultado = formatear_texto("  bUENas"  )("   Tardes   ")
print(resultado)

Buenas tardes

## Sorted

Permite la ordenación de iterables

In [124]:
personas = [
    {"nombre": "Ana", "edad": 29},
    {"nombre": "Luis", "edad": 35},
    {"nombre": "Juan", "edad": 24}
]
personas_ordenadas = sorted(personas, key=lambda persona: persona["edad"])
print(personas_ordenadas)

[{'nombre': 'Juan', 'edad': 24}, {'nombre': 'Ana', 'edad': 29}, {'nombre': 'Luis', 'edad': 35}]

In [125]:
personas = [
    {"nombre": "Ana", "edad": 29},
    {"nombre": "Luis", "edad": 35},
    {"nombre": "Juan", "edad": 24}
]
personas_ordenadas = sorted(personas, key=lambda persona: persona["edad"], reverse=True)
print(personas_ordenadas)

[{'nombre': 'Luis', 'edad': 35}, {'nombre': 'Ana', 'edad': 29}, {'nombre': 'Juan', 'edad': 24}]

In [126]:
personas = [
    {"nombre": "Ana", "edad": 29},
    {"nombre": "Luis", "edad": 35},
    {"nombre": "Juan", "edad": 24}
]
personas_ordenadas = sorted(personas, key=lambda persona: persona["nombre"])
print(personas_ordenadas)

[{'nombre': 'Ana', 'edad': 29}, {'nombre': 'Juan', 'edad': 24}, {'nombre': 'Luis', 'edad': 35}]